/*Para não precisar modificar o tema do Bootstrap com Saas optei por criar um arquivo
CSS a parte para estilizar algumas coisas.
*/

/* O !important serve para sobrescrever estilos das classes do Bootstrap*/
.navbar {
    background-color: #8941F5 !important;
}

.nav-link {
    color: #fff !important;
}

.bg-azul {
    background-color: #E5E5E5 !important;
}