/*Para não precisar modificar o tema do Bootstrap com Saas optei por criar um arquivo
CSS a parte para estilizar algumas coisas.
*/

/* O !important serve para sobrescrever estilos das classes do Bootstrap*/
.navbar {
    background-color: #8941F5 !important;
}

.nav-link {
    color: #fff !important;
}

.bg-azul {
    background-color: #E5E5E5 !important;
}

/*Para páginas com pouco conteúdo foi necessário colocar o rodapé fixo na parte inferior da página*/
@media (min-width: 1200px) {
    .rodape__fixado {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
    }
}
